* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p {
  margin: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  background-color: #dfb252;
}

header {
  padding: 10px 0;
  text-align: left;
  background-color: #f3971f;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  height: 40px;
  margin-right: 10px;
  padding-left: 20px;
  vertical-align: middle;
}

main {
  display: flex;
  align-items: flex-start;
  flex: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
}

footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  /* max-width: 1200px; */
  padding: 10px 0;
  text-align: center;
  color: #333;
  background-color: #f1f1f1;
}

.button-styling {
  margin-top: auto;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #f3971f;
  cursor: pointer;
}

@media (max-width: 768px) {
  main {
    padding: 5px;
  }
}
